[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kaleido = ">=0.2"
numpy = ">=1.22"
opencv-python = ">=4.5"
pandas = ">=1.4"
plotly = ">=5.6"

[dev-packages]
flake8 = "*"
flake8-commas = "*"
graphs = {editable = true, path = "."}
mypy = "*"
torch = "*"
torchaudio = "*"

[requires]
python_version = "3.9"

[scripts]
install-dev = "sh bin/install-dev.sh"
js = "sh bin/runjs.sh"
py = "python example/python/main.py"
test = "sh bin/test.sh"
