[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bokeh = ">=2.4"
chromedriver-binary-auto = "*"
numpy = ">=1.23"
selenium = ">=4.5"
opencv-python = "*"

[dev-packages]
flake8 = "*"
flake8-commas = "*"
graphs = {editable = true, path = "."}
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
start = "python example/example.py"
test = "sh bin/test.sh"
